@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&family=Orbitron:wght@500;600;700&family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.font-teko {
  font-family: 'Teko', sans-serif;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}